.featured-section h3 {
  color: $blue-dark;
  font-size: $fontsize-lg;
  text-align: center;
}

.featured-grid {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.featured-content {
  height: 200px;
  width: 320px;
  background-color: $blue-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-content p {
  color: $blue-dark;
  font-size: $fontsize-xs;
  margin-left: 1rem;
}

@media screen and (max-width: 1100px) {
  .featured-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .featured-grid {
    grid-template-columns: 1fr;
  }
}