footer {
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: $blue-dark;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: .5rem;
  cursor: pointer;
}

.nav-logo {
  height: 48px;
  width: 48px;
}

.org {
  font-size: $fontsize-md;
  font-weight: $font-weight-bold;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright-p {
  font-size: $fontsize-xxs;
}

.copyright-p a {
  color: $white;
}

.socials-div {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.social-icon {
  height: 20px;
  width: 20px;
}