.hero-section {
  width: 100%;
  height: 500px;
  background-image: url("../assets/water-in-hands.png");
  background-size: cover;
  text-align: center;
}

.hero-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.hero-h2 {
  margin: 0;
  padding: 0;
  font-size: $fontsize-xl;
  font-weight: $font-weight-semibold;
  width: 60%;
  word-wrap: break-word;
}

.hero-p {
  width: 80%;
  word-wrap: break-word;
  font-weight: $font-weight-semibold;
}

.hero-button {
  @include button-base();
  color: $white;
  background-color: transparent;
  padding: 0.75rem 2.5rem;
}

//Swap colors on hover
.hero-button:hover {
  color: $blue-dark;
  background-color: $white;
}

@media screen and (max-width: 800px) {
  .hero-h2 {
    font-size: $fontsize-lg;
    width: 60%;
  }
}