.impact-section {
  height: 365px;
  width: 100%;
  background-color: $blue-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.impact-section h3 {
  color: $blue-dark;
  font-size: $fontsize-lg;
  margin: 0;
  margin-top: 1rem;
}

.impact-section p {
  color: black;
  word-wrap: break-word;
  text-align: center;
  width: 40rem;
}

.sub-buttons-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40rem;
  margin-bottom: 1rem;
}

.sub-button {
  @include button-base();
  height: 3.5rem;
  width: 15rem;
  border: 2px solid $blue-dark;
}

.something {
  margin-right: 1rem;
  color: $white;
  background-color: $blue-dark;
}

//Swap colors on hover
.something:hover {
  color: $blue-dark;
  background-color: transparent;
}

.something-else {
  color: $blue-dark;
  background-color: transparent;
}

//Swap colors on hover
.something-else:hover {
  color: $white;
  background-color: $blue-dark;
}