nav {
  height: 60px;
  width: 100%;
  background-color: $blue-dark;
  display: flex;
  justify-content: space-evenly;
}

//Make list elements resemble horizontal nav links
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: $fontsize-xs;
  font-weight: $font-weight-semibold;
}

// Change the link color to grey on hover
li a:hover {
  color: $grey;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-logo {
  height: 48px;
  width: 48px;
}

.links-div {
  display: flex;
  align-items: center;
}

.nav-button {
  @include button-base();
  color: $white;
  background-color: $blue-dark;
}

//Swap colors on hover
.nav-button:hover {
  color: $blue-dark;
  background-color: $white;
}

@media screen and (max-width: 900px) {
  .nav-logo {
    height: 36px;
    width: 36px;
  }

  .org {
    font-size: $fontsize-sm;
  }
  
  li a {
    font-size: $fontsize-xxs;
  }

  .nav-button {
    font-size: $fontsize-xxs;
    padding: .3rem 1rem;
  }
}