.subhero-section {
  height: 290px;
}

.subhero-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.value-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.value-icon {
  height: 48px;
  width: 48px;
}

hr {
  height: 3px;
  width: 3.5rem;
  background-color: $blue-dark;
}

.value-div h3 {
  color: $blue-dark;
  font-weight: $font-weight-semibold;
}

.value-div p {
  color: black;
  width: 15rem;
  text-align: center;
  word-wrap: break-word;
}
