//----- COLORS -----
$white: #FFFFFF;
$blue-dark: #446BEA;
$blue-light: #E8F2FF;
$grey: #494949;

//----- FONT-WEIGHTS -----
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//----- FONT-SIZE -----
$fontsize-xxs: 12px;
$fontsize-xs: 14px;
$fontsize-sm: 16px;
$fontsize-md: 20px;
$fontsize-lg: 32px;
$fontsize-xl: 48px;
$fontsize-xxl: 60px;

//----- MIX-INS -----

@mixin button-base{
  padding: 0.35rem 1.5rem;
  border: 0.2rem solid $white;
  text-decoration: none;
  font-family: Montserrat;
  font-size: $fontsize-sm;
  font-weight: $font-weight-semibold;
  cursor: pointer;
  transition: all 0.2s;
}