@import "./sass/variables";
@import "./sass/nav";
@import "./sass/hero";
@import "./sass/subhero";
@import "./sass/impact";
@import "./sass/featured";
@import "./sass/footer";


body {
  font-family: "Montserrat";
  background-color: $white;
  color: $white;
  margin: 0;
}